[engine]
rate = 20                            # 速率
duration = "20s"                     # 持续时间
cap = 20                             # 客户端虚拟机数量
instant=10                           # 每个批次发的交易数
wait="0s"                            # 获取cap最大等待时间
urls = ["localhost:8085"]            # 若不设置或者长度为0则在本地启动worker

[client]
script = "benchmark/hyperchain/remote/script.lua"  # 脚本
type = "flato"                                     # 区块链类型
config = "benchmark/hyperchain/remote/hyperchain"  # 区块链SDK配置路径
contract = "benchmark/hyperchain/remote/contract"  # 合约目录路径
plugin = "./hyperchain.so"                         # 插件路径

[client.options] # 客户端选项
request="rpc"

